<!DOCTYPE html>
<html>
<head>
  <title>Union Build</title>
  <link rel="icon" href="/images/icon.ico">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h2>Daily Transfers and Cumulative Total</h2>
<canvas id="transferCountChart" width="800" height="400"></canvas>

<script>
  // Передаем данные из сервера в глобальную переменную
  const chartData = <%- chartData %>;
</script>
<script src="/javascripts/transferCountChart.js"></script>
<script>
  // Вызываем функцию из chart.js после загрузки скрипта
  renderChart(chartData);
</script>
</body>
</html>